# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/


checkpoints
!checkpoints/final_model.keras
logs
src/__pycache__
predictions
predictions_test
preds/model_final_val_chopped/all_scores.csv
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_109_32TPT_47.77_10.74.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_110_32TQM_41.47_12.65.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_111_32TQM_42.08_12.44.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_112_32TQM_42.36_12.39.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_113_32TQP_43.53_11.79.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_114_32TQP_43.53_11.82.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_115_32TQP_43.27_12.72.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_116_32UMC_52.08_8.88.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_117_32UMC_51.50_8.22.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_118_32UMC_51.86_7.58.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_119_32UNC_52.14_10.49.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_120_32UNC_51.65_10.40.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_121_32UNC_52.09_10.49.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_122_32UNG_55.65_9.28.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_123_32UNG_55.55_10.30.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_124_32UNG_55.50_10.70.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_125_32UNU_48.36_9.65.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_126_32UNU_48.02_9.10.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_127_32UNU_48.68_10.25.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_128_32UPC_52.07_11.73.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_129_32UPC_51.39_10.95.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_130_32UPC_51.41_11.06.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_131_32UQC_51.73_12.23.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_132_32UQC_51.72_13.23.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_133_32UQC_51.92_12.17.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_134_32VMM_59.68_8.90.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_135_32VMM_59.66_8.90.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_136_32VMM_59.56_8.36.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_140_33SXD_39.00_16.89.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_141_33SXD_39.18_17.10.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_142_33SXD_39.00_16.86.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_143_33TUN_47.78_12.36.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_144_33TUN_47.64_12.37.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_145_33TUN_47.78_12.40.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_146_33TVF_40.88_14.87.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_147_33TVF_41.18_14.17.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_148_33TVF_41.44_14.35.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_149_33TWE_40.33_15.09.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_150_33TWE_40.38_15.12.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_151_33TWE_40.62_16.18.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_152_33TXJ_43.27_16.74.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_153_33TXJ_43.46_16.80.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_154_33TXJ_43.62_16.81.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_155_33TXN_47.56_16.91.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_156_33TXN_47.36_16.70.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_157_33TXN_46.91_17.39.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_158_33TYM_46.41_18.67.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_159_33TYM_46.57_18.14.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_160_33TYM_46.19_17.62.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_161_33TYN_47.69_18.48.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_162_33TYN_46.95_18.60.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_163_33TYN_47.01_18.77.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_164_33UVR_50.25_14.71.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_165_33UVR_50.02_13.78.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_166_33UVR_50.05_14.92.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_167_33UWT_51.42_16.40.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_168_33UWT_51.61_15.92.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_169_33UWT_51.93_15.97.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_170_33UXP_48.23_16.83.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_171_33UXP_47.84_16.88.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_172_33UXP_48.46_17.11.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_173_33UXQ_49.09_17.63.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_174_33UXQ_48.94_17.24.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_175_33UXQ_48.88_16.99.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_176_33VUE_57.89_12.96.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_177_33VUE_58.26_13.25.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_178_33VUE_58.37_12.63.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_179_33VUF_59.25_13.11.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_180_33VUF_59.46_13.23.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_181_33VUF_59.44_13.28.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_182_33VUG_59.61_11.54.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_183_33VUG_60.04_12.05.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_184_33VUG_59.63_12.31.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_185_33VVG_60.09_13.98.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_186_33VVG_59.61_13.86.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_187_33VVG_59.54_14.81.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_189_33VWE_58.37_15.48.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_190_33VWE_58.41_15.13.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_191_33VXG_59.95_18.58.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_192_33VXG_59.93_17.47.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_193_33VXG_59.68_18.55.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_194_33VXH_60.88_17.08.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_195_33VXH_60.61_17.06.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_196_33VXH_60.40_16.91.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_197_34SEJ_39.50_21.71.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_198_34SEJ_39.24_21.03.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_199_34SEJ_39.49_21.83.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_200_34SFF_36.97_22.64.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_201_34SFF_36.66_22.89.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_202_34SFF_36.88_22.55.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_203_34TCL_41.47_19.52.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_204_34TCL_40.88_19.57.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_205_34TCL_41.52_19.68.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_206_34TCQ_44.73_19.44.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_207_34TCQ_44.59_19.09.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_208_34TCQ_44.74_18.50.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_209_34TDK_40.10_20.61.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_210_34TDK_39.94_20.64.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_211_34TDK_40.44_20.66.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_212_34TDM_41.60_20.47.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_213_34TDM_41.53_20.93.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_214_34TDM_42.27_20.41.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_215_34TDP_43.66_20.71.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_216_34TDP_43.54_21.03.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_217_34TDP_43.93_20.64.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_218_34TDQ_44.86_21.09.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_219_34TDQ_45.04_20.93.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_220_34TDQ_44.39_20.55.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_221_34TEL_40.70_21.85.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_222_34TEL_40.81_22.24.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_223_34TEL_40.70_21.54.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_224_34TET_47.72_21.24.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_225_34TET_47.37_22.05.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_226_34TET_46.98_21.74.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_227_34TFL_40.83_22.37.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_228_34TFL_40.92_22.43.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_229_34TFL_41.15_22.71.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_230_34TFN_42.76_22.81.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_231_34TFN_43.02_22.63.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_232_34TFN_42.38_22.37.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_233_34TFP_43.57_23.00.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_234_34TFP_43.81_23.48.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_235_34TFP_43.67_22.65.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_236_34TFT_47.42_23.07.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_237_34TFT_47.24_22.89.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_238_34TFT_47.29_22.46.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_239_34VCL_59.24_18.52.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_240_34VCL_59.27_17.80.nc
preds/model_final_val_chopped/targets_wrapper_val_chopped/minicube_241_34VCL_59.04_17.96.nc
preds/targets_wrapper_val_chopped/minicube_109_32TPT_47.77_10.74.nc
preds/targets_wrapper_val_chopped/minicube_110_32TQM_41.47_12.65.nc
preds/targets_wrapper_val_chopped/minicube_111_32TQM_42.08_12.44.nc
preds/targets_wrapper_val_chopped/minicube_112_32TQM_42.36_12.39.nc
preds/targets_wrapper_val_chopped/minicube_113_32TQP_43.53_11.79.nc
preds/targets_wrapper_val_chopped/minicube_114_32TQP_43.53_11.82.nc
preds/targets_wrapper_val_chopped/minicube_115_32TQP_43.27_12.72.nc
preds/targets_wrapper_val_chopped/minicube_116_32UMC_52.08_8.88.nc
preds/targets_wrapper_val_chopped/minicube_117_32UMC_51.50_8.22.nc
preds/targets_wrapper_val_chopped/minicube_118_32UMC_51.86_7.58.nc
preds/targets_wrapper_val_chopped/minicube_119_32UNC_52.14_10.49.nc
preds/targets_wrapper_val_chopped/minicube_120_32UNC_51.65_10.40.nc
preds/targets_wrapper_val_chopped/minicube_121_32UNC_52.09_10.49.nc
preds/targets_wrapper_val_chopped/minicube_122_32UNG_55.65_9.28.nc
preds/targets_wrapper_val_chopped/minicube_123_32UNG_55.55_10.30.nc
preds/targets_wrapper_val_chopped/minicube_124_32UNG_55.50_10.70.nc
preds/targets_wrapper_val_chopped/minicube_125_32UNU_48.36_9.65.nc
preds/targets_wrapper_val_chopped/minicube_126_32UNU_48.02_9.10.nc
preds/targets_wrapper_val_chopped/minicube_127_32UNU_48.68_10.25.nc
preds/targets_wrapper_val_chopped/minicube_128_32UPC_52.07_11.73.nc
preds/targets_wrapper_val_chopped/minicube_129_32UPC_51.39_10.95.nc
preds/targets_wrapper_val_chopped/minicube_130_32UPC_51.41_11.06.nc
preds/targets_wrapper_val_chopped/minicube_131_32UQC_51.73_12.23.nc
preds/targets_wrapper_val_chopped/minicube_132_32UQC_51.72_13.23.nc
preds/targets_wrapper_val_chopped/minicube_133_32UQC_51.92_12.17.nc
preds/targets_wrapper_val_chopped/minicube_134_32VMM_59.68_8.90.nc
preds/targets_wrapper_val_chopped/minicube_135_32VMM_59.66_8.90.nc
preds/targets_wrapper_val_chopped/minicube_136_32VMM_59.56_8.36.nc
preds/targets_wrapper_val_chopped/minicube_140_33SXD_39.00_16.89.nc
preds/targets_wrapper_val_chopped/minicube_141_33SXD_39.18_17.10.nc
preds/targets_wrapper_val_chopped/minicube_142_33SXD_39.00_16.86.nc
preds/targets_wrapper_val_chopped/minicube_143_33TUN_47.78_12.36.nc
preds/targets_wrapper_val_chopped/minicube_144_33TUN_47.64_12.37.nc
preds/targets_wrapper_val_chopped/minicube_145_33TUN_47.78_12.40.nc
preds/targets_wrapper_val_chopped/minicube_146_33TVF_40.88_14.87.nc
preds/targets_wrapper_val_chopped/minicube_147_33TVF_41.18_14.17.nc
preds/targets_wrapper_val_chopped/minicube_148_33TVF_41.44_14.35.nc
preds/targets_wrapper_val_chopped/minicube_149_33TWE_40.33_15.09.nc
preds/targets_wrapper_val_chopped/minicube_150_33TWE_40.38_15.12.nc
preds/targets_wrapper_val_chopped/minicube_151_33TWE_40.62_16.18.nc
preds/targets_wrapper_val_chopped/minicube_152_33TXJ_43.27_16.74.nc
preds/targets_wrapper_val_chopped/minicube_153_33TXJ_43.46_16.80.nc
preds/targets_wrapper_val_chopped/minicube_154_33TXJ_43.62_16.81.nc
preds/targets_wrapper_val_chopped/minicube_155_33TXN_47.56_16.91.nc
preds/targets_wrapper_val_chopped/minicube_156_33TXN_47.36_16.70.nc
preds/targets_wrapper_val_chopped/minicube_157_33TXN_46.91_17.39.nc
preds/targets_wrapper_val_chopped/minicube_158_33TYM_46.41_18.67.nc
preds/targets_wrapper_val_chopped/minicube_159_33TYM_46.57_18.14.nc
preds/targets_wrapper_val_chopped/minicube_160_33TYM_46.19_17.62.nc
preds/targets_wrapper_val_chopped/minicube_161_33TYN_47.69_18.48.nc
preds/targets_wrapper_val_chopped/minicube_162_33TYN_46.95_18.60.nc
preds/targets_wrapper_val_chopped/minicube_163_33TYN_47.01_18.77.nc
preds/targets_wrapper_val_chopped/minicube_164_33UVR_50.25_14.71.nc
preds/targets_wrapper_val_chopped/minicube_165_33UVR_50.02_13.78.nc
preds/targets_wrapper_val_chopped/minicube_166_33UVR_50.05_14.92.nc
preds/targets_wrapper_val_chopped/minicube_167_33UWT_51.42_16.40.nc
preds/targets_wrapper_val_chopped/minicube_168_33UWT_51.61_15.92.nc
preds/targets_wrapper_val_chopped/minicube_169_33UWT_51.93_15.97.nc
preds/targets_wrapper_val_chopped/minicube_170_33UXP_48.23_16.83.nc
preds/targets_wrapper_val_chopped/minicube_171_33UXP_47.84_16.88.nc
preds/targets_wrapper_val_chopped/minicube_172_33UXP_48.46_17.11.nc
preds/targets_wrapper_val_chopped/minicube_173_33UXQ_49.09_17.63.nc
preds/targets_wrapper_val_chopped/minicube_174_33UXQ_48.94_17.24.nc
preds/targets_wrapper_val_chopped/minicube_175_33UXQ_48.88_16.99.nc
preds/targets_wrapper_val_chopped/minicube_176_33VUE_57.89_12.96.nc
preds/targets_wrapper_val_chopped/minicube_177_33VUE_58.26_13.25.nc
preds/targets_wrapper_val_chopped/minicube_178_33VUE_58.37_12.63.nc
preds/targets_wrapper_val_chopped/minicube_179_33VUF_59.25_13.11.nc
preds/targets_wrapper_val_chopped/minicube_180_33VUF_59.46_13.23.nc
preds/targets_wrapper_val_chopped/minicube_181_33VUF_59.44_13.28.nc
preds/targets_wrapper_val_chopped/minicube_182_33VUG_59.61_11.54.nc
preds/targets_wrapper_val_chopped/minicube_183_33VUG_60.04_12.05.nc
preds/targets_wrapper_val_chopped/minicube_184_33VUG_59.63_12.31.nc
preds/targets_wrapper_val_chopped/minicube_185_33VVG_60.09_13.98.nc
preds/targets_wrapper_val_chopped/minicube_186_33VVG_59.61_13.86.nc
preds/targets_wrapper_val_chopped/minicube_187_33VVG_59.54_14.81.nc
preds/targets_wrapper_val_chopped/minicube_189_33VWE_58.37_15.48.nc
preds/targets_wrapper_val_chopped/minicube_190_33VWE_58.41_15.13.nc
preds/targets_wrapper_val_chopped/minicube_191_33VXG_59.95_18.58.nc
preds/targets_wrapper_val_chopped/minicube_192_33VXG_59.93_17.47.nc
preds/targets_wrapper_val_chopped/minicube_193_33VXG_59.68_18.55.nc
preds/targets_wrapper_val_chopped/minicube_194_33VXH_60.88_17.08.nc
preds/targets_wrapper_val_chopped/minicube_195_33VXH_60.61_17.06.nc
preds/targets_wrapper_val_chopped/minicube_196_33VXH_60.40_16.91.nc
preds/targets_wrapper_val_chopped/minicube_197_34SEJ_39.50_21.71.nc
preds/targets_wrapper_val_chopped/minicube_198_34SEJ_39.24_21.03.nc
preds/targets_wrapper_val_chopped/minicube_199_34SEJ_39.49_21.83.nc
preds/targets_wrapper_val_chopped/minicube_200_34SFF_36.97_22.64.nc
preds/targets_wrapper_val_chopped/minicube_201_34SFF_36.66_22.89.nc
preds/targets_wrapper_val_chopped/minicube_202_34SFF_36.88_22.55.nc
preds/targets_wrapper_val_chopped/minicube_203_34TCL_41.47_19.52.nc
preds/targets_wrapper_val_chopped/minicube_204_34TCL_40.88_19.57.nc
preds/targets_wrapper_val_chopped/minicube_205_34TCL_41.52_19.68.nc
preds/targets_wrapper_val_chopped/minicube_206_34TCQ_44.73_19.44.nc
preds/targets_wrapper_val_chopped/minicube_207_34TCQ_44.59_19.09.nc
preds/targets_wrapper_val_chopped/minicube_208_34TCQ_44.74_18.50.nc
preds/targets_wrapper_val_chopped/minicube_209_34TDK_40.10_20.61.nc
preds/targets_wrapper_val_chopped/minicube_210_34TDK_39.94_20.64.nc
preds/targets_wrapper_val_chopped/minicube_211_34TDK_40.44_20.66.nc
preds/targets_wrapper_val_chopped/minicube_212_34TDM_41.60_20.47.nc
preds/targets_wrapper_val_chopped/minicube_213_34TDM_41.53_20.93.nc
preds/targets_wrapper_val_chopped/minicube_214_34TDM_42.27_20.41.nc
preds/targets_wrapper_val_chopped/minicube_215_34TDP_43.66_20.71.nc
preds/targets_wrapper_val_chopped/minicube_216_34TDP_43.54_21.03.nc
preds/targets_wrapper_val_chopped/minicube_217_34TDP_43.93_20.64.nc
preds/targets_wrapper_val_chopped/minicube_218_34TDQ_44.86_21.09.nc
preds/targets_wrapper_val_chopped/minicube_219_34TDQ_45.04_20.93.nc
preds/targets_wrapper_val_chopped/minicube_220_34TDQ_44.39_20.55.nc
preds/targets_wrapper_val_chopped/minicube_221_34TEL_40.70_21.85.nc
preds/targets_wrapper_val_chopped/minicube_222_34TEL_40.81_22.24.nc
preds/targets_wrapper_val_chopped/minicube_223_34TEL_40.70_21.54.nc
preds/targets_wrapper_val_chopped/minicube_224_34TET_47.72_21.24.nc
preds/targets_wrapper_val_chopped/minicube_225_34TET_47.37_22.05.nc
preds/targets_wrapper_val_chopped/minicube_226_34TET_46.98_21.74.nc
preds/targets_wrapper_val_chopped/minicube_227_34TFL_40.83_22.37.nc
preds/targets_wrapper_val_chopped/minicube_228_34TFL_40.92_22.43.nc
preds/targets_wrapper_val_chopped/minicube_229_34TFL_41.15_22.71.nc
preds/targets_wrapper_val_chopped/minicube_230_34TFN_42.76_22.81.nc
preds/targets_wrapper_val_chopped/minicube_231_34TFN_43.02_22.63.nc
preds/targets_wrapper_val_chopped/minicube_232_34TFN_42.38_22.37.nc
preds/targets_wrapper_val_chopped/minicube_233_34TFP_43.57_23.00.nc
preds/targets_wrapper_val_chopped/minicube_234_34TFP_43.81_23.48.nc
preds/targets_wrapper_val_chopped/minicube_235_34TFP_43.67_22.65.nc
preds/targets_wrapper_val_chopped/minicube_236_34TFT_47.42_23.07.nc
preds/targets_wrapper_val_chopped/minicube_237_34TFT_47.24_22.89.nc
preds/targets_wrapper_val_chopped/minicube_238_34TFT_47.29_22.46.nc
preds/targets_wrapper_val_chopped/minicube_239_34VCL_59.24_18.52.nc
preds/targets_wrapper_val_chopped/minicube_240_34VCL_59.27_17.80.nc
preds/targets_wrapper_val_chopped/minicube_241_34VCL_59.04_17.96.nc
